#navBar{
    list-style-type: none;
    margin: 0px;
    text-align: center;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 15px;
    }
#navBar a{
    color:black;
    text-decoration: none;
    padding: 100px;
    font-size: large;
    }
#navBar a:hover{
    text-decoration-line: underline;  
  }
  
#navBar {
    background-color: burlywood;
}
