body{
    margin: 0px;
}
#navBar{
    margin: 0px;
    text-align: center;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    }

#navBar a{
    color: #000;
    text-decoration: none;
    padding: 100px;
    font-size: large;
    }

#navBar a:hover{
    text-decoration-line:underline;  
  }

#navBar {
    background-color:lightseagreen
}
#footNavBar {
    margin: 0px;
    text-align: left;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    background-color: cadetblue;
}
#footNavBar a{
    color:darkslategrey;
    text-decoration: none;
    padding: 100px;
    font-size: large;
}